:host {
  border: 1px solid red;
  padding: 20px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;

  input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid gray;
  }

  button {
    height: 30px;
    padding: 0 10px;
  }

  .app {
    padding: 10px;
    border: 1px solid blue;
  }
}
