<div class="app">
  <h2>Web Component App</h2>

  Routing in Web Component App:
  <br />

  <wc-app-links></wc-app-links>
  <br />

  <div class="router-outlet-container">
    <router-outlet></router-outlet>
  </div>
  <br />
  <br />
  <div class="communication-example">
    <h3>@Input</h3>
    <span>
      message from host: <strong>{{ message }} </strong>
    </span>
    <br />
    <br />
    <h3>@Output</h3>
    <input type="text" [(ngModel)]="inputModel" placeholder="Type here..." />
    <br />
    <br />
    <button (click)="onSubmit()">Send message to host</button>
    <br />

    <br />
    <br />
  </div>
</div>
