<h1>Main App</h1>

<p>
  This is the index.html file of the <span class="hl">main-app</span>, which
  renders <span class="hl">main-app</span>'s
  <span class="hl">AppComponent</span>.
</p>

<p>
  This <span class="hl">AppComponent</span> renders a
  <span class="hl">router-outlet</span>, where the default route is the
  <span class="hl">WcWrapperComponent</span>
</p>

<p>
  <span class="hl">WcWrapperComponent</span> renders the
  <span class="hl">wc-app</span> as a Web Component `<span class="hl"
    >&lt;wc-app&gt;</span
  >`
</p>

<p>Here it is:</p>

<router-outlet></router-outlet>
